body{
    background-color: slategray;
}
img{
    width: 20px;
    height: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#display-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    width: 80%;
}
.display-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 5px;
    width: 350px;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}